.primary {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first input {
    height: 27px;
    border: 1px solid gray;
}

.first select {
    margin-left: 10px;
    height: 30px;
    width: 60px;
    border: 1px solid gray;
}

.second {
    width: 20%;
}

.third {
    width: 20%;
}

.fourth {
    width: 20%;
}
.KZT {
    border: 1px solid lightgray;
    height: 25px;
    align-items: center;
    padding: 5px 10px;
    background-color: #E9ECEF;
}
.USD {
    border: 1px solid lightgray;
    height: 25px;
    align-items: center;
    padding: 5px 10px;
    background-color: #E9ECEF;
}
.EUR {
    border: 1px solid lightgray;
    height: 25px;
    align-items: center;
    padding: 5px 10px;
    background-color: #E9ECEF;
}
